.App {
  text-align: center;
  min-height: 100vh;
  align-items: center;
  overflow: hidden;

}

body {
  color: aliceblue;
  background-color: darkslategray;
  

}

input {
  height: 50px;
}

.letters {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 50vh;
}

.tile {
  padding: 25px;
  border: 3px black solid;
  background-color: darkorange;
  color: black;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 24px;
}

.tile span {
  font-size: 12px;
  
  

  border: 1px black solid;
}

.rack {
  width: 30%;
  background: black;
  display: flex;
  justify-content: center;
  margin: auto;
  
  gap: 5px;
  min-height: 100px;
}

#guess  {
  display: none;
}

.input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #111;
  padding: 50px;

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111;
  padding: 50px;
  
}
@media (max-width: 1100px) {
  #guess {
    display: inline;
  }

  .rack {
    display: none;
  }
  
  .input p {
    display: none;
  }
}